:root /*Hier werden die css Variablen definiert*/
{
    --margin-normal: 2vw;
}

/*##LAYOUT##*/
.introduction
{
    .line
    {
        margin-top: var(--margin-normal);
    }
}
.txt_Introduction
{
    margin-left: var(--margin-normal);
    margin-right: var(--margin-normal);
}
.pictures_outside /*Element ist figure*/
{
    display: flex; /*Aktiviert flexbox für bessere positionierung*/
    flex-wrap: wrap; /*Erlaubt, dass Elemente bei Platzmangel untereinander stehen dürfen*/
    justify-content: center; /*Bilder zentrieren*/
    gap: 10px; /*Abstand zwischen Elementen*/
    margin-left: var(--margin-normal);
    margin-right: var(--margin-normal);
}
.technical_Information
{
    display: flex;
    align-items: center;
    gap: 0vw;
    margin-left: var(--margin-normal);
    margin-right: var(--margin-normal);
}
/*Wird erst angewendet, wenn bedingung zutrifft*/
@media (max-width: 1200px) /*Wenn die Bildschirmbreite weniger als 600px beträgt*/
{
    .technical_Information
    {
        flex-direction: column; /*Elemente werden vertikal angezeigt*/
    }        
}
.picture_Technical
{
    float: left;
}
.txt_Technical
{
    margin-left: var(--margin-normal);
}
.interior_Information
{
    display: flex;
    align-items: center;
    gap: 0vw;
    margin-left: var(--margin-normal);
    margin-right: var(--margin-normal);
}
@media (max-width: 1200px) /*Wenn die Bildschirmbreite weniger als 600px beträgt*/
{
    .interior_Information
    {
        flex-direction: column; /*Elemente werden vertikal angezeigt*/
    }        
}
.picture_Interior
{
    float: right;
}
.history_Information
{
    display: flex;
    align-items: center;
    gap: 0vw;
    margin-left: var(--margin-normal);
    margin-right: var(--margin-normal);
}
@media (max-width: 1200px) /*Wenn die Bildschirmbreite weniger als 600px beträgt*/
{
    .history_Information
    {
        flex-direction: column; /*Elemente werden vertikal angezeigt*/
    }        
}
.picture_History
{
    float: left;
}
.video
{
    margin-top: var(--margin-normal);
    text-align: center;
}

