button
{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 17px;
    color: darkslategray;
    background-color: transparent;
    border-radius: 4px;
}
button:hover /*Pseudoselektor(Wenn Mauszeiger über a hovert)*/
{
    color: var(--color-hover);
}


/*##LAYOUT##*/
body
{
    display: grid; /*Aktiviert CSS Grid*/
    grid-template-areas: /*Welche Grid-Area wie viele Spalten hat*/
        "header header header"
        "main main main"
        "footer footer footer";
    /*Fractions für gleichmässige Fraktion des Bilschirms*/
    grid-template-columns: 1fr 1fr 1fr; /*Breite der Spalten*/
    grid-template-rows: 520px 350px 100px; /*Höhe der Spalten*/
}
header
{
    grid-area: header; /*Welcher Grid-Area das Element angehört*/
    height: 165px;
}
.form
{
    grid-area: header; /*Es können auch mehrere Elemente der gleichen Grid-Area angehören*/
    margin-top: 180px;
}
main
{
    grid-area: main;
}
.car-Selection_Table
{
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.car-Selection_Table th, .car-Selection_Table td
{
    text-align: center;
    font-size: 18px;
}
footer
{
    grid-area: footer;
}

